In [46]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import sklearn
import seaborn as sns

In [47]:
# import csv
rough = "Resources/suicide_rates.csv"
rough_data_df = pd.read_csv(rough)

rough_data_df.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [48]:
# drop unnecessary columns
rough_df = rough_data_df.drop(columns=['HDI for year', 'country-year'])

# clean up age range fill
rough_df['age'] = rough_df['age'].replace({'35-54 years': '35-54', '25-34 years': '25-34', '55-74 years': '55-74', '75+ years': '75+', '15-24 years': '15-24', '5-14 years': '5-14'})

# rename columns
renamed_df = rough_df.rename(columns={"country":"Country", "year":"Year", "sex":"Sex", "age":"Age Range", "suicides_no":"Suicide Count", "population":"Population", "suicides/100k pop":"Suicides/100k pop", " gdp_for_year ($) ":"GDP(Year)", "gdp_per_capita ($)":"GDP per Capita", "generation":"Generation"})

In [49]:
#Checking the values for the years colum
renamed_df.Year.value_counts()

2009    1068
2001    1056
2010    1056
2007    1032
2011    1032
2002    1032
2003    1032
2000    1032
2006    1020
2008    1020
2005    1008
2004    1008
1999     996
2012     972
2013     960
1998     948
2014     936
1995     936
1996     924
1997     924
1994     816
1992     780
1993     780
1990     768
1991     768
2015     744
1987     648
1989     624
1988     588
1986     576
1985     576
2016     160
Name: Year, dtype: int64

# 2000-2016

In [44]:
# filter for years 2000-2016
after_start_date = renamed_df["Year"] >= 2000
before_end_date = renamed_df["Year"] <= 2016
between_two_dates = after_start_date & before_end_date
filtered_date_df = renamed_df.loc[between_two_dates]

# display sample

filtered_date_df.head()

,Country,Year,Sex,Age Range,Suicide Count,Population,Suicides/100k pop,GDP(Year),GDP per Capita,Generation
132,Albania,2000,male,25-34,17,232000,7.33,"3,632,043,908",1299,Generation X
133,Albania,2000,male,55-74,10,177400,5.64,"3,632,043,908",1299,Silent
134,Albania,2000,female,75+,2,37800,5.29,"3,632,043,908",1299,G.I. Generation
135,Albania,2000,male,75+,1,24900,4.02,"3,632,043,908",1299,G.I. Generation
136,Albania,2000,female,15-24,6,263900,2.27,"3,632,043,908",1299,Generation X

In [45]:
country= renamed_df["Country"]

gdp_year= renamed_df["GDP(Year)"]

suicides= renamed_df["Suicides/100k pop"]

country_df= pd.DataFrame({
    
    "Country": country,
    "GDP(Year)": gdp_year,
    "Suicides/100k pop": suicides
    
})


country_df = country_df.set_index('Country')
country_df

                 GDP(Year)  Suicides/100k pop
Country
Albania      2,156,624,900               6.71
Albania      2,156,624,900               5.19
Albania      2,156,624,900               4.83
Albania      2,156,624,900               4.59
Albania      2,156,624,900               3.28
...                    ...                ...
Uzbekistan  63,067,077,179               2.96
Uzbekistan  63,067,077,179               2.58
Uzbekistan  63,067,077,179               2.17
Uzbekistan  63,067,077,179               1.67
Uzbekistan  63,067,077,179               1.46

[27820 rows x 2 columns]

In [5]:
age= renamed_df['Age Range']

country= renamed_df["Country"]

gdp_year= renamed_df["GDP(Year)"]

suicides= renamed_df["Suicides/100k pop"]

age_df = pd.DataFrame({
    "Age Range": age,
    "Country": country,
    "GDP(Year)": gdp_year,
    "Suicides/100k pop": suicides
    
    
})

In [6]:
gender= renamed_df['Sex']

age_range= renamed_df["Age Range"]

country= renamed_df["Country"]

gdp_year= renamed_df["GDP(Year)"]

Suicides= renamed_df["Suicides/100k pop"]

gender_df= pd.DataFrame({
    
    "Sex": gender,
    "Age Range": age_range,
    "Country": country,
    "GDP(Year)": gdp_year,
    "Sucides/100k pop": suicides
})

In [7]:
#Are suicide rates higher in developing countries or developed countries?

#heatmap of suicide rates globally

In [8]:
#Country v.  Overall suicide rate
#mean_sui = filtered_date_df['Suicides/100k pop'].mean()
#filtered_date_df['Above Average?'] = (filtered_date_df['Suicides/100k pop'] >= mean_sui)

df_Country_Overall_suicide_rate = filtered_date_df.groupby('Country')['Suicides/100k pop'].mean()
#filtered_date_df.head()

#define 'Overall suicide rate'
#mean_sui1 = filtered_date_df['Suicides/100k pop'].mean()
mean_sui2 = df_Country_Overall_suicide_rate.mean()
#print(mean_sui1)raw average
#print(mean_sui2)average of averages
#df_Country_Overall_suicide_rate['Suicides/100k pop'] 
#df_df_Country_Overall_suicide_rate() 
Deviation = df_Country_Overall_suicide_rate - mean_sui2
pd.DataFrame({
    "Country Mean":df_Country_Overall_suicide_rate,
    "Global Mean":mean_sui2,
    "Deviation":Deviation,
    
})

                      Country Mean  Global Mean  Deviation
Country
Albania                   3.381667    11.481212  -8.099545
Antigua and Barbuda       0.874405    11.481212 -10.606807
Argentina                10.186094    11.481212  -1.295118
Armenia                   3.131517    11.481212  -8.349695
Aruba                     8.142639    11.481212  -3.338573
...                            ...          ...        ...
United Arab Emirates      1.317917    11.481212 -10.163295
United Kingdom            6.769635    11.481212  -4.711577
United States            12.945417    11.481212   1.464205
Uruguay                  21.540889    11.481212  10.059677
Uzbekistan                6.820556    11.481212  -4.660656

[98 rows x 3 columns]

In [9]:
#Gender v. Country & Suicide rate
Gender_tmp_df = filtered_date_df.groupby(['Country','Sex'])['Suicides/100k pop'].mean()


Gender_tmp_df.head()

Country              Sex
Albania              female    2.475909
                     male      4.287424
Antigua and Barbuda  female    0.185952
                     male      1.562857
Argentina            female    3.373229
Name: Suicides/100k pop, dtype: float64

In [10]:
#Age Range v. Country & Suicide rate
Age_tmp_df = filtered_date_df.groupby(['Country','Age Range'])['Suicides/100k pop'].mean()

Age_tmp_df

Country     Age Range
Albania     15-24        3.287273
            25-34        4.156364
            35-54        3.963182
            5-14         0.524091
            55-74        3.438182
                           ...
Uzbekistan  25-34        9.044583
            35-54        9.106667
            5-14         1.203333
            55-74        7.130000
            75+          5.862500
Name: Suicides/100k pop, Length: 587, dtype: float64

# Dave's Addition

In [50]:
#suicide rates in the United States for 2013-2016?

after_start_date = renamed_df["Year"] >= 2013
before_end_date = renamed_df["Year"] <= 2016
between_two_dates = after_start_date & before_end_date
filtered_date_df = renamed_df.loc[between_two_dates]

# display sample

filtered_date_df.head()

,Country,Year,Sex,Age Range,Suicide Count,Population,Suicides/100k pop,GDP(Year),GDP per Capita,Generation
552,Antigua and Barbuda,2013,female,15-24,0,8494,0.0,"1,192,925,407",13287,Millenials
553,Antigua and Barbuda,2013,female,25-34,0,7397,0.0,"1,192,925,407",13287,Millenials
554,Antigua and Barbuda,2013,female,35-54,0,15236,0.0,"1,192,925,407",13287,Generation X
555,Antigua and Barbuda,2013,female,5-14,0,8353,0.0,"1,192,925,407",13287,Generation Z
556,Antigua and Barbuda,2013,female,55-74,0,5787,0.0,"1,192,925,407",13287,Boomers

In [51]:
filtered_date_df["Country"].value_counts()

Cyprus         46
Netherlands    46
Lithuania      46
Hungary        46
Romania        46
               ..
Barbados       12
Guyana         12
Canada         12
Oman           12
Mongolia       10
Name: Country, Length: 84, dtype: int64

In [52]:
#checking for true values 
(filtered_date_df["Country"]=="United States").value_counts()

False    2764
True       36
Name: Country, dtype: int64

In [63]:
#Build a filter for a true/false map(boolean), then apply back to the orginal data frame
us_df=filtered_date_df.loc[filtered_date_df["Country"]=="United States"]

In [66]:
#suicide rates in the United States for 2013-2016?
groupby_df=us_df.groupby("Year")["Suicide Count"].sum()

In [67]:
#suicide rates in US for 2013-2016?
groupby_df

Year
2013    41143
2014    42769
2015    44189
Name: Suicide Count, dtype: int64

In [59]:
(filtered_date_df.Year==2013).value_counts()

False    1840
True      960
Name: Year, dtype: int64

In [68]:
us_df

,Country,Year,Sex,Age Range,Suicide Count,Population,Suicides/100k pop,GDP(Year),GDP per Capita,Generation
27184,United States,2013,male,75+,2990,7816638,38.25,"16,691,517,000,000",56520,Silent
27185,United States,2013,male,55-74,8445,30405404,27.77,"16,691,517,000,000",56520,Boomers
27186,United States,2013,male,35-54,11396,42085688,27.08,"16,691,517,000,000",56520,Generation X
27187,United States,2013,male,25-34,5063,21386891,23.67,"16,691,517,000,000",56520,Millenials
27188,United States,2013,male,15-24,3903,22735631,17.17,"16,691,517,000,000",56520,Millenials
27189,United States,2013,female,35-54,3776,41983845,8.99,"16,691,517,000,000",56520,Generation X
27190,United States,2013,female,55-74,2484,33229667,7.48,"16,691,517,000,000",56520,Boomers
27191,United States,2013,female,25-34,1285,20951958,6.13,"16,691,517,000,000",56520,Millenials
27192,United States,2013,female,15-24,975,21698877,4.49,"16,691,517,000,000",56520,Millenials
27193,United States,2013,female,75+,431,11486590,3.75,"16,691,517,000,000",56520,Silent
27194,United States,2013,male,5-14,252,21233001,1.19,"16,691,517,000,000",56520,Generation Z
27195,United States,2013,female,5-14,143,20308672,0.70,"16,691,517,000,000",56520,Generation Z
27196,United States,2014,male,75+,3106,7994948,38.85,"17,427,609,000,000",58531,Silent
27197,United States,2014,male,55-74,8961,31339875,28.59,"17,427,609,000,000",58531,Boomers
27198,United States,2014,male,35-54,11455,41858354,27.37,"17,427,609,000,000",58531,Generation X
27199,United States,2014,male,25-34,5222,21760455,24.00,"17,427,609,000,000",58531,Millenials
27200,United States,2014,male,15-24,4089,22700273,18.01,"17,427,609,000,000",58531,Millenials
27201,United States,2014,female,35-54,4018,41742299,9.63,"17,427,609,000,000",58531,Generation X
27202,United States,2014,female,55-74,2676,34193742,7.83,"17,427,609,000,000",58531,Boomers
27203,United States,2014,female,25-34,1347,21250636,6.34,"17,427,609,000,000",58531,Millenials
27204,United States,2014,female,15-24,990,21691057,4.56,"17,427,609,000,000",58531,Millenials
27205,United States,2014,female,75+,477,11616299,4.11,"17,427,609,000,000",58531,Silent
27206,United States,2014,male,5-14,277,21264881,1.30,"17,427,609,000,000",58531,Generation Z
27207,United States,2014,female,5-14,151,20336916,0.74,"17,427,609,000,000",58531,Generation Z
27208,United States,2015,male,75+,3171,8171136,38.81,"18,120,714,000,000",60387,Silent
27209,United States,2015,male,55-74,9068,32264697,28.11,"18,120,714,000,000",60387,Boomers
27210,United States,2015,male,35-54,11634,41658010,27.93,"18,120,714,000,000",60387,Generation X
27211,United States,2015,male,25-34,5503,22137097,24.86,"18,120,714,000,000",60387,Millenials
27212,United States,2015,male,15-24,4359,22615073,19.27,"18,120,714,000,000",60387,Millenials
27213,United States,2015,female,35-54,4053,41531809,9.76,"18,120,714,000,000",60387,Generation X
27214,United States,2015,female,55-74,2872,35115610,8.18,"18,120,714,000,000",60387,Boomers
27215,United States,2015,female,25-34,1444,21555712,6.70,"18,120,714,000,000",60387,Millenials
27216,United States,2015,female,15-24,1132,21633813,5.23,"18,120,714,000,000",60387,Millenials
27217,United States,2015,female,75+,540,11778666,4.58,"18,120,714,000,000",60387,Silent
27218,United States,2015,male,5-14,255,21273987,1.20,"18,120,714,000,000",60387,Generation Z
27219,United States,2015,female,5-14,158,20342901,0.78,"18,120,714,000,000",60387,Generation Z

In [58]:
filtered_date_df.dtypes

Country               object
Year                   int64
Sex                   object
Age Range             object
Suicide Count          int64
Population             int64
Suicides/100k pop    float64
GDP(Year)             object
GDP per Capita         int64
Generation            object
dtype: object

In [28]:
#Aggrate data by gender/gdp & suicide rate for 2017-2019

In [ ]:
#Aggrate Data by age/gdp & suicide rate for 2017-2019