In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# import csv
rough = "Resources/suicide_rates.csv"
rough_data_df = pd.read_csv(rough)

plt.show()

In [7]:
# drop unnecessary columns
rough_df = rough_data_df.drop(columns=['HDI for year', 'country-year'])

# clean up age range fill
rough_df['age'] = rough_df['age'].replace({'35-54 years': '35-54', '25-34 years': '25-34', '55-74 years': '55-74', '75+ years': '75+', '15-24 years': '15-24', '5-14 years': '05-14'})

# rename columns
renamed_df = rough_df.rename(columns={"country":"Country", "year":"Year", "sex":"Sex", "age":"Age Range", "suicides_no":"Suicide Count", "population":"Population", "suicides/100k pop":"Suicides/100k pop", " gdp_for_year ($) ":"GDP(Year)", "gdp_per_capita ($)":"GDP per Capita", "generation":"Generation"})

# filter for years 2000-2016
after_start_date = renamed_df["Year"] >= 2000
before_end_date = renamed_df["Year"] <= 2016
between_two_dates = after_start_date & before_end_date
filtered_date_df = renamed_df.loc[between_two_dates]

# display sample

filtered_date_df.head()

,Country,Year,Sex,Age Range,Suicide Count,Population,Suicides/100k pop,GDP(Year),GDP per Capita,Generation
132,Albania,2000,male,25-34,17,232000,7.33,"3,632,043,908",1299,Generation X
133,Albania,2000,male,55-74,10,177400,5.64,"3,632,043,908",1299,Silent
134,Albania,2000,female,75+,2,37800,5.29,"3,632,043,908",1299,G.I. Generation
135,Albania,2000,male,75+,1,24900,4.02,"3,632,043,908",1299,G.I. Generation
136,Albania,2000,female,15-24,6,263900,2.27,"3,632,043,908",1299,Generation X

In [8]:
country= renamed_df["Country"]

gdp_year= renamed_df["GDP(Year)"]

suicides= renamed_df["Suicides/100k pop"]

country_df= pd.DataFrame({
    
    "Country": country,
    "GDP(Year)": gdp_year,
    "Suicides/100k pop": suicides
    
})


country_df = country_df.set_index('Country')
country_df

                 GDP(Year)  Suicides/100k pop
Country
Albania      2,156,624,900               6.71
Albania      2,156,624,900               5.19
Albania      2,156,624,900               4.83
Albania      2,156,624,900               4.59
Albania      2,156,624,900               3.28
...                    ...                ...
Uzbekistan  63,067,077,179               2.96
Uzbekistan  63,067,077,179               2.58
Uzbekistan  63,067,077,179               2.17
Uzbekistan  63,067,077,179               1.67
Uzbekistan  63,067,077,179               1.46

[27820 rows x 2 columns]

In [9]:
age= renamed_df['Age Range']

country= renamed_df["Country"]

gdp_year= renamed_df["GDP(Year)"]

suicides= renamed_df["Suicides/100k pop"]

age_df = pd.DataFrame({
    "Age Range": age,
    "Country": country,
    "GDP(Year)": gdp_year,
    "Suicides/100k pop": suicides
    
    
})

age_df =age_df.set_index('Age Range')
age_df

              Country       GDP(Year)  Suicides/100k pop
Age Range
15-24         Albania   2,156,624,900               6.71
35-54         Albania   2,156,624,900               5.19
15-24         Albania   2,156,624,900               4.83
75+           Albania   2,156,624,900               4.59
25-34         Albania   2,156,624,900               3.28
...               ...             ...                ...
35-54      Uzbekistan  63,067,077,179               2.96
75+        Uzbekistan  63,067,077,179               2.58
05-14      Uzbekistan  63,067,077,179               2.17
05-14      Uzbekistan  63,067,077,179               1.67
55-74      Uzbekistan  63,067,077,179               1.46

[27820 rows x 3 columns]

In [10]:
gender= renamed_df['Sex']

age_range= renamed_df["Age Range"]

country= renamed_df["Country"]

gdp_year= renamed_df["GDP(Year)"]

Suicides= renamed_df["Suicides/100k pop"]

gender_df= pd.DataFrame({
    
    "Sex": gender,
    "Age Range": age_range,
    "Country": country,
    "GDP(Year)": gdp_year,
    "Sucides/100k pop": suicides
})


gender_df = gender_df.set_index('Sex')
gender_df

       Age Range     Country       GDP(Year)  Sucides/100k pop
Sex
male       15-24     Albania   2,156,624,900              6.71
male       35-54     Albania   2,156,624,900              5.19
female     15-24     Albania   2,156,624,900              4.83
male         75+     Albania   2,156,624,900              4.59
male       25-34     Albania   2,156,624,900              3.28
...          ...         ...             ...               ...
female     35-54  Uzbekistan  63,067,077,179              2.96
female       75+  Uzbekistan  63,067,077,179              2.58
male       05-14  Uzbekistan  63,067,077,179              2.17
female     05-14  Uzbekistan  63,067,077,179              1.67
female     55-74  Uzbekistan  63,067,077,179              1.46

[27820 rows x 4 columns]

In [20]:
#Are suicide rates higher in developing countries or developed countries?

#heatmap of suicide rates globally

In [24]:
#Country v.  Overall suicide rate
#mean_sui = filtered_date_df['Suicides/100k pop'].mean()
#filtered_date_df['Above Average?'] = (filtered_date_df['Suicides/100k pop'] >= mean_sui)

df_Country_Overall_suicide_rate = filtered_date_df.groupby('Country')['Suicides/100k pop'].mean()
#filtered_date_df.head()

#define 'Overall suicide rate'
#mean_sui1 = filtered_date_df['Suicides/100k pop'].mean()
mean_sui2 = df_Country_Overall_suicide_rate.mean()
#print(mean_sui1)raw average
#print(mean_sui2)average of averages
#df_Country_Overall_suicide_rate['Suicides/100k pop'] 
#df_df_Country_Overall_suicide_rate() 
Deviation = df_Country_Overall_suicide_rate - mean_sui2
pd.DataFrame({
    "Country Mean":df_Country_Overall_suicide_rate,
    "Global Mean":mean_sui2,
    "Deviation":Deviation,
    
})

                      Country Mean  Global Mean  Deviation
Country
Albania                   3.381667    11.481212  -8.099545
Antigua and Barbuda       0.874405    11.481212 -10.606807
Argentina                10.186094    11.481212  -1.295118
Armenia                   3.131517    11.481212  -8.349695
Aruba                     8.142639    11.481212  -3.338573
...                            ...          ...        ...
United Arab Emirates      1.317917    11.481212 -10.163295
United Kingdom            6.769635    11.481212  -4.711577
United States            12.945417    11.481212   1.464205
Uruguay                  21.540889    11.481212  10.059677
Uzbekistan                6.820556    11.481212  -4.660656

[98 rows x 3 columns]

In [25]:
#Gender v. Country & Suicide rate
Gender_tmp_df = filtered_date_df.groupby(['Country','Sex'])['Suicides/100k pop'].mean()


Gender_tmp_df.head()

Country              Sex
Albania              female    2.475909
                     male      4.287424
Antigua and Barbuda  female    0.185952
                     male      1.562857
Argentina            female    3.373229
Name: Suicides/100k pop, dtype: float64

In [26]:
#Age Range v. Country & Suicide rate
Age_tmp_df = filtered_date_df.groupby(['Country','Age Range'])['Suicides/100k pop'].mean()

Age_tmp_df

Country     Age Range
Albania     15-24        3.287273
            25-34        4.156364
            35-54        3.963182
            5-14         0.524091
            55-74        3.438182
                           ...
Uzbekistan  25-34        9.044583
            35-54        9.106667
            5-14         1.203333
            55-74        7.130000
            75+          5.862500
Name: Suicides/100k pop, Length: 587, dtype: float64

In [27]:
#suicide rates in the United States for 2017-2019?

In [28]:
#Aggrate data by gender/gdp & suicide rate for 2017-2019

In [ ]:
#Aggrate Data by gender/gdp & suicide rate for 2017-2019